.nav {
  display: flex;
  flex-direction: row;
  color: white;
  overflow-x: scroll;
}

.nav::-webkit-scrollbar {
  display: none;
}

.nav {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.nav > h2 {
  font-size: 15px;
  cursor: pointer;
  padding: 30px;
  margin: 0 10px;
  font-weight: 500;
  opacity: 0.7;
  transition: transform 50ms ease-out;
}

.nav > h2:hover {
  opacity: 1;
  transform: scale(1.2);
}
