.videoCard {
  overflow: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  color: white;
  width: 400px;
  height: 400px;
  margin-bottom: 5px;
  padding: 10px;
  transition: transform 50ms ease-out;
}

.videoCard:hover {
  transform: scale(1.09);
}
.videoCard:hover .videoCard__stats {
  display: inline;
}

.videoCard > h2 {
  /* padding-top: 1px; */
}
.videoCard__stats {
  display: none;
  font-size: 10px;
  text-align: center;
}

.videoCard > img {
  overflow: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  height: 250px;
  object-fit: contain;
  width: 500px;
}
